[Desktop Entry]
Type=Application
Name=The Whitecat Create Agent
Exec=/opt/whitecat-create-agent/linux-whitecat-create-agent
NoDisplay=false
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;GNOME;
AutostartCondition=GNOME3 unless-session gnome
X-Ubuntu-Gettext-Domain=indicator-bluetooth
